﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Josefin+Sans&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("https://kit.fontawesome.com/225053cf8b.js")
</head>
<body>
    @RenderPage("~/Views/Shared/_Navbar.cshtml")
    <main class="container body-content pb-5 pr-5 pl-5 pt-3">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Script.js")
    @RenderSection("scripts", required: false)
</body>
</html>
