﻿<header>
    <img src="https://i.pinimg.com/originals/9a/3d/35/9a3d355ecf245f984e6196695d55a7fe.png" />
    <h1>Food Truck</h1>
</header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="fas fa-home"></i>  Accueil <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Catalog", "Home")"><i class="fas fa-clipboard-list"></i>  Catalogue</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Admin", "Home")"><i class="fas fa-user-cog"></i>  Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-sign-in-alt"></i>  Connexion/Inscription</a>
            </li>
        </ul>
    </div>
</nav>