﻿@model FoodTruckASP.Models.ACTUALITES

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ACTUALITES</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TITRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL_IMAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL_IMAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_DEBUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_DEBUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATE_FIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATE_FIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LINK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LINK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_UTILISATEUR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_UTILISATEUR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACTIF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIF)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
