﻿@model IEnumerable<FoodTruckASP.Models.ACTUALITES>

@{
    ViewBag.Title = "Index";
}

<h2>Actualités</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TITRE)
        </th>  
        <th>
            @Html.DisplayNameFor(model => model.DATE_DEBUT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_FIN)
        </th>      
        <th>
            @Html.DisplayNameFor(model => model.ACTIF)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TITRE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DATE_DEBUT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DATE_FIN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ACTIF)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID_ACTUALITE }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID_ACTUALITE }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID_ACTUALITE })
    </td>
</tr>
}

</table>
