﻿body {
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/hypnotize.png");
    font-family: 'Josefin Sans', sans-serif !important;
}

h1, h2, h3 {
    font-family: 'Dancing Script', cursive !important;
}

/* ========== Header ========== */

header {
    padding: 30px 0 10px 30px;
    color: #fff;
    background: 
        linear-gradient(to right, rgba(63, 189, 189, 0.9),rgba(54, 113, 189, 0.4)),
        url("https://www.toptal.com/designers/subtlepatterns/patterns/white-waves.png");
}
header h1 {
    display: inline-block;
    font-size: 3em;
    margin-left: 20px;
    text-shadow: 2px 2px 3px #555;
}
header img {
    display: inline-block;
    max-height: 70px;
    margin-bottom: 22px;
}

/* ========== Footer ========== */

footer {
    background: #343a40;
    min-height: 84px;
    padding: 15px 10px;
    color:antiquewhite;
}

/* ========== Main content ========== */

main {
    background-color: #fff;
    max-width: 1200px;
    min-height: calc(100vh - 272px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* ========== Carousel ========== */

.carousel h2, .carousel p  {
    text-shadow: 2px 2px 3px #555;
}
.carousel h2 {
    font-size: 2.5em;
}
.carousel .carousel-item, .carousel .carousel-item img  {
    max-height: 40vh;
    object-fit: cover !important;
}
.carousel .carousel-item img  {
    filter: sepia(20%);
}
.carousel a {
    color: #fff;
}
.carousel a:hover {
    text-decoration: none;
    color: #CCCCFF;
}

/* ========== Cards ========== */

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card a:hover{
    text-decoration: none;
}
.card .img-container {
    max-height: 13vw;
    overflow: hidden;
}
.card .img-container .card-img-top {
    opacity: 0.8;
    object-fit: cover;
    filter: sepia(20%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card:hover .card-img-top {
    opacity: 1;
    transform: scale(1.15) rotate(2deg);
}
.card .fa-star, .card .fa-star-half, .card .fa-star-half-alt {
    color: gold;
}
