﻿@model FoodTruckASP.Models.PRODUIT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODUIT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_FAMILLE_REPAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_FAMILLE_REPAS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_PRODUIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_PRODUIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE_DE_VENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE_DE_VENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL_IMAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL_IMAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOCK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOCK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LMMJVSD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LMMJVSD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOYENNE_NOTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOYENNE_NOTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNITE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNITE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PRODUIT }) |
    @Html.ActionLink("Back to List", "Index")
</p>
