﻿@model IEnumerable<FoodTruckASP.Models.PRODUIT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LIBELLE_PRODUIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOCK)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LIBELLE_PRODUIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOCK)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PRODUIT }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PRODUIT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PRODUIT })
        </td>
    </tr>
}

</table>
