﻿
@{
    ViewBag.Title = "Admin";
}

<h2>Interface d'administration</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a href="@Url.Action("Index", "TYPE_REPAS")">Type Repas</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Index", "FAMILLE_REPAS")">Famille Repas</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Index", "PRODUIT")">Produit</a>
    </li>
    <li class="list-group-item">
        <a href="@Url.Action("Index", "ACTUALITES")">Actualités</a>
    </li>
</ul>