﻿@model FoodTruckASP.ViewModels.CatalogViewModel
@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>
@using (Html.BeginForm("Catalog", "Home", FormMethod.Post, new { id = "searchForm" }))
{
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <select class="form-control" id="selectedTypeRepas" name="selectedTypeRepas">
                    <option value="0" @((Model.selectedFormTypeRepas == 0)?"selected":"")>Type de repas</option>
                    @foreach (var item in Model.ListTypeRepas)
                    {
                        <option value="@item.ID_TYPE_REPAS" @((Model.selectedFormTypeRepas == item.ID_TYPE_REPAS)?"selected":"")>@item.LIBELLE_REPAS</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-control" id="selectedFamileRepas" name="selectedFamileRepas">
                    <option value="0" @((Model.selectedFormFamilleRepas == 0)?"selected":"")>Type de produit</option>
                    @foreach (var item in Model.ListFamilleRepas)
                    {
                        <option value="@item.ID_FAMILLE_REPAS" @((Model.selectedFormTypeRepas == item.ID_FAMILLE_REPAS)?"selected":"")>@item.LIBELLE_FAMILLE_REPAS</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <button class="btn btn-danger" id="clearBtn" name="clearBtn">X</button>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="searchProduct" name="searchProduct" value="@Model.searchProduct" placeholder="Produit" />
            </div>
        </div>
    </div>
 }

<!--<button id="hideImg" type="button" class="btn btn-primary mb-3" onclick="">Cacher les images</button>-->
<div class="row">
    <div class="col-sm-12">
        <table id="products-table" class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Produit</th>
                    <th>Disponibilité</th>
                    <th>Prix</th>
                    <th>Avis</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListProduits)
                {
                    <tr>
                        <td><img height="75" src="@item.URL_IMAGE" /></td>
                        <td>@item.LIBELLE_PRODUIT</td>
                        <td>@item.LMMJVSD</td>
                        <td>@item.PRIX €</td>
                        <td>
                            <p style="display: none">@item.MOYENNE_NOTE</p>

                            @if (item.MOYENNE_NOTE >= 0 && item.MOYENNE_NOTE < 0.5)
                            {
                                <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            }
                            else if (item.MOYENNE_NOTE >= 0.5 && item.MOYENNE_NOTE < 1)
                            {
                                <i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            }
                            else if (item.MOYENNE_NOTE >= 1 && item.MOYENNE_NOTE < 1.5)
                            {
                                <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            }
                            else if (item.MOYENNE_NOTE >= 1.5 && item.MOYENNE_NOTE < 2)
                            {
                                <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            }
                            else if (item.MOYENNE_NOTE >= 2 && item.MOYENNE_NOTE < 2.5)
                            {
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            }
                            else if (item.MOYENNE_NOTE >= 2.5 && item.MOYENNE_NOTE < 3)
                            {
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            }
                            else if (item.MOYENNE_NOTE >= 3 && item.MOYENNE_NOTE < 3.5)
                            {
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                            }
                            else if (item.MOYENNE_NOTE >= 3.5 && item.MOYENNE_NOTE < 4)
                            {
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                            }
                            else if (item.MOYENNE_NOTE >= 4 && item.MOYENNE_NOTE < 4.5)
                            {
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                            }
                            else if (item.MOYENNE_NOTE >= 4.5 && item.MOYENNE_NOTE < 5)
                            {
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                            }
                            else
                            {
                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>