﻿@model FoodTruckASP.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="myCarousel" class="carousel slide bg-inverse w-100 ml-auto mr-auto" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    @{
                        var i = 0;
                        foreach (var item in Model.ListActualites)
                        {
                            var itemClass = i++ == 0 ? "carousel-item active" : "carousel-item";

                            <div class="@itemClass">
                                <img class="d-block w-100"
                                     src="@item.URL_IMAGE"
                                     alt="@item.TITRE">
                                <div class="carousel-caption">
                                    <a href="@item.LINK" target="_blank"><h2>@item.TITRE</h2></a>
                                    <p>@item.DESCRIPTION</p>
                                </div>
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<h2 class="p-4 text-center">Nos meilleures ventes</h2>
<div class="container p-3 pb-5">
    <div class="row">
        @foreach (var item in Model.ListProduits)
        {
            <div class="col-md">
                <div class="card">
                    <div class="img-container">
                        <img src="@item.URL_IMAGE"
                             class="card-img-top">
                    </div>
                    <div class="card-body">
                        <a href="">
                            <h3 class="h5">@item.LIBELLE_PRODUIT</h3>
                        </a>
                        <div class="row">
                            <div class="col-sm">
                                <p>@item.PRIX €</p>
                            </div>
                            <div class="col-sm">
                                <p class="float-right">
                                    @if (item.MOYENNE_NOTE >= 0 && item.MOYENNE_NOTE < 0.5)
                                    {
                                        <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    }
                                    else if (item.MOYENNE_NOTE >= 0.5 && item.MOYENNE_NOTE < 1)
                                    {
                                        <i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    }
                                    else if (item.MOYENNE_NOTE >= 1 && item.MOYENNE_NOTE < 1.5)
                                    {
                                        <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    }
                                    else if (item.MOYENNE_NOTE >= 1.5 && item.MOYENNE_NOTE < 2)
                                    {
                                        <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    }
                                    else if (item.MOYENNE_NOTE >= 2 && item.MOYENNE_NOTE < 2.5)
                                    {
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    }
                                    else if (item.MOYENNE_NOTE >= 2.5 && item.MOYENNE_NOTE < 3)
                                    {
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    }
                                    else if (item.MOYENNE_NOTE >= 3 && item.MOYENNE_NOTE < 3.5)
                                    {
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                    }
                                    else if (item.MOYENNE_NOTE >= 3.5 && item.MOYENNE_NOTE < 4)
                                    {
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
                                    }
                                    else if (item.MOYENNE_NOTE >= 4 && item.MOYENNE_NOTE < 4.5)
                                    {
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                    }
                                    else if (item.MOYENNE_NOTE >= 4.5 && item.MOYENNE_NOTE < 5)
                                    {
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>