﻿@model FoodTruckASP.Models.TYPE_REPAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TYPE_REPAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_REPAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_REPAS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_TYPE_REPAS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
