﻿@model FoodTruckASP.Models.FAMILLE_REPAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FAMILLE_REPAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_FAMILLE_REPAS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_FAMILLE_REPAS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_FAMILLE_REPAS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
