﻿@model IEnumerable<FoodTruckASP.Models.FAMILLE_REPAS>

@{
    ViewBag.Title = "Index";
}

<h2>Famille repas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LIBELLE_FAMILLE_REPAS)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LIBELLE_FAMILLE_REPAS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_FAMILLE_REPAS }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_FAMILLE_REPAS }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_FAMILLE_REPAS })
        </td>
    </tr>
}

</table>
